*.crt
*/*.crt
*/**/*.crt

*.pem
*/*.pem
*/**/*.pem

*.cer
*/*.cer
*/**/*.cer

*.pvk
*/*.pvk
*/**/*.pvk

*.zip
*/*.zip
*/**/*.zip

vbrzipconfig.json
*/vbrzipconfig.json
*/**/vbrzipconfig.json

/Profile
/OLD
/Transcript
